html,body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    /*height: 100%;*/
    background-color: #fafafa; /*#565656*/ 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450; //arbitrary
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-left: 21%;
}

header {
    background-color: #ffffff;
    height: 52px;
    border-bottom: 1px solid #dddddd;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    min-width: 100%;
    float: left;
    display: inline-block;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

ul li {
    display: inline-block;
    margin-left: .25px;
    padding-top: 15px;
    width: 100px;

    position: relative;
}

nav a {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    transform: translateY(-32%);
    font-size: 14px;
    color: #555555;
    text-decoration: none;
    border-bottom: 1.5px solid transparent;
}

ul li a:hover, .btn:hover {
    background-color: #f6f6f6;
}

ul li a:focus {
    background-color: #ffffff;
    border-bottom-color: #a8282f;
    color: #a8282f;
}

input {
  background-image: url('search.png');
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 350px;
  height: 2px;
  font-size: 15px;
  font-weight: 250;
  padding: 12px 20px 12px 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-left: 7px;
  transform: translateY(50%);
  outline: none;
  vertical-align: top; /*.btn being inline-block shifts the search bar down */
}

.dropdown {
    display: inline;
    position: relative;
    margin-left: 3px;
    padding-top: 30px;
}

.btn {
    background-image: url('quora.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center center;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #555555;
    padding-top: 43px;
    padding-bottom: 9px;
    width: 40px;
}

#question {
    display: inline-block;
    transform: translateY(-71%);
    text-decoration: none;
    text-align: center;
    margin-left: 3px;
    height: 23px;
    width: 105px;
    background-color: #a8382f;
    padding-top: 5px;
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
}

#options {
    display: none;
    z-index: 1;
    background-color: #f6f6f6;
    min-width: 150px;
    
    position: absolute;
}
    
