<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles1.css') }}"/>
    </head>
    <body>
        <header>
            <div class="container">
                <!--Quora logo-->

                <nav>
                    <ul>
                        <li><a href="#">Home</a></li> 
                        <li><a href="#">Answer</a></li>
                        <li>
                            <div class="dropdown">
                                <a href="#">Notifications</a>

                                <div id="notifications">
                                    
                                </div>

                            </div>
                        </li>
                        <li><input type="text" name="search" placeholder="Search Quora"/></li>
                        <li>
                            <div class="dropdown">
                                <a class="btn" href="#"></a>
                                
                                <div id="options">
                                    <a href="#">Profile</a>
                                    <a href="#">Blogs</a>
                                    <a href="#">Messages</a>
                                    <a href="#">Your Content</a>
                                    <a href="#">Stats</a>
                                    <a href="#">Create Ad</a>
                                    <a href="#">Settings</a>
                                    <a href="#">Logout</a>
                                </div>
                            </div>
                        </li>
                        <li><a id="question" href="#">Add Question</a></li>
                    </ul>
                </nav>
        </header>

        <section id="content">{% block content %}{% endblock %}</section> 
    </body>
</html>
