<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles1.css') }}"/>
    </head>
    <body>
        <header>
            <div class="container">
                <!--Quora logo-->

                <nav>
                    <ul>
                        <li><a href="#">Home</a></li> 
                        <li><a href="#">Answer</a></li>
                        <li><a href="#">Notifications</a></li>
                        <li><input type="text" name="search" placeholder="Search Quora"/></li>
                        <li class="hover">
                            <div class="dropdown">
                                <a class="btn" href="#"></a>
                                <ul id="options">
                                    <li><a href="#">Profile</a></li>
                                    <li><a href="#">Blogs</a></li>
                                    <li><a href="#">Messages</a></li>
                                    <li><a href="#">Your Content</a></li>
                                    <li><a href="#">Stats</a></li>
                                    <li><a href="#">Create Ad</a></li>
                                    <li><a href="#">Settings</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a id="question" href="#">Add Question</a></li>
                    </ul>
                </nav>
        </header>

        <section id="content">{% block content %}{% endblock %}</section> 
    </body>
</html>
